@import "tailwindcss";

@theme {
  --color-blue-50: #FAFBFC;
  --color-blue-100: #F1F4FA;
  --color-blue-150: #D9E3F2;
  --color-blue-200: #A1B8DE;
  --color-blue-300: #006FB9;
  --color-blue-400: #145B97;
  --color-blue-500: #194B7B;
  --color-blue-600: #103151;

  --color-yellow-100: #FFF9E0;
  --color-yellow-200: #FFEC99;
  --color-yellow-300: #FFDC35;
  --color-yellow-400: #D3B318;
  --color-yellow-500: #847220;

  --color-success-400: #2E8241;
  --color-error-400: #BA4B44;
  --color-warning-400: #AB5C00;
  --color-info-400: #0076A9;
  --color-visited-400: #5548E9;
  --color-aprove-400: #E5FFEB;
  --color-error-100: #FFF0EF;
  --color-warning-100: #FFF4E8;
  --color-info-100: #E4F7FF;
  --color-visited-100: #5548E9;

  --color-gray-100: #EEDEDD;
  --color-gray-200: #BEBEBD;
  --color-gray-300: #9B9A98;
  --color-gray-400: #777673;
  --color-gray-500: #595955;
  --color-gray-600: #3B3A37;
  --color-gray-700: #1B1A16;

  --font-circular: "Circular Std", ui-sans-serif, system-ui, sans-serif;
  --font-helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;

  --text-display: 47px;
  --text-display--line-height: 51px;
  --text-display--font-weight: 700;

  --text-h1: 36px;
  --text-h1--line-height: 44px;
  --text-h1--font-weight: 700;

  --text-h2: 28px;
  --text-h2--line-height: 36px;
  --text-h2--font-weight: 700;

  --text-h3: 24px;
  --text-h3--line-height: 32px;
  --text-h3--font-weight: 700;

  --text-subtitle: 20px;
  --text-subtitle--line-height: 28px;
  --text-subtitle--font-weight: 700;

  --text-action: 16px;
  --text-action--line-height: 24px;
  --text-action--font-weight: 700;

  --text-link: 16px;
  --text-link--line-height: 24px;
  --text-link--font-weight: 700;

  --text-body: 16px;
  --text-body--line-height: 24px;
  --text-body--font-weight: 400;

  --text-body-small: 14px;
  --text-body-small--line-height: 22px;
  --text-body-small--font-weight: 400;

  --text-body-footer: 14px;
  --text-body-footer--line-height: 16px;
  --text-body-footer--font-weight: 400;

  --text-caption: 12px;
  --text-caption--line-height: 16px;
  --text-caption--font-weight: 400;

  --text-caption-small: 10px;
  --text-caption-small--line-height: 12px;
  --text-caption-small--font-weight: 400;
}

:root {
  --background: var(--color-blue-50);
  --foreground: var(--color-gray-700);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #002138;
    --foreground: #DFDFDE;

    --color-white: #191F25;
    --color-blue-50: #252B31;

    --color-blue-100: #002138;
    --color-blue-150: #012D4B;
    --color-blue-200: #0C375B;
    --color-blue-250: #194D7E;
    --color-blue-300: #169BF3;
    --color-blue-400: #0D79CA;
    --color-blue-500: #5F8DC9;

    --color-yellow-100: #2D270B;
    --color-yellow-200: #D1B62F;
    --color-yellow-300: #FFDD35;
    --color-yellow-400: #FFE565;
    --color-yellow-500: #FFEC8F;

    --color-success-400: #3BA653;
    --color-error-400: #F4B2AE;
    --color-warning-400: #E9BA81;
    --color-info-400: #9ACEEA;
    --color-visited-400: #877CE9;

    --color-success-100: #0C2211;
    --color-error-100: #29100F;
    --color-warning-100: #2E1900;
    --color-info-100: #0B2837;

    --color-gray-100: #02090F;
    --color-gray-200: #0F151B;
    --color-gray-300: #191F25;
    --color-gray-400: #252B31;
    --color-gray-500: #2A3035;
    --color-gray-600: #797C7E;
    --color-gray-700: #DFDFDE;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-helvetica);
}